* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.4;
}

h1,
h3 {
  text-transform: uppercase;
}

article {
  border: 5px solid black;
  margin: 0 auto;
  width: 80%;
}

section {
  width: 33%;
  padding: 10px;
  border: 2px solid black;
}

section:first-of-type {
  padding: 0;
}

header h1 {
  background-color: lightgray;
  text-align: center;
  margin: 0;
  padding: 10px 10px;
}

article section h3 {
  margin: 0;
}

article section p:first-of-type {
  text-transform: uppercase;
  color: rgb(121, 121, 121);
  font-size: 11px;
  margin-top: 0;
}

/* article section:nth-child(2) {
  margin-bottom: 20px;
} */

article section p:nth-child(2) {
  font-size: 11px;
}

article section a {
  color: black;
  font-size: 11px;
}

article section a:hover {
  text-decoration: none;
}

/* section:last-child div {
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 10px 0;
} */

footer button {
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  font-size: 11px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  border-top: 5px solid black;
  transition: all 1.5s;
}

footer button:hover {
  color: black;
  background-color: white;
}

article section:last-child ul {
  margin: 10px 20px;
  padding: 0;
  box-sizing: border-box;
}

/* Pseudo element */

h1 {
  position: relative;
}

h1::before {
  content: "SALE";
  background-color: red;
  padding: 10px 15px;
  letter-spacing: 3px;
  font-size: 11px;
  position: absolute;
  left: -5%;
  top: -45%;
  color: white;
  font-weight: bold;
}

.color-container::before {
  content: "Colors: ";
  margin-right: 10px;
  margin-left: 5px;
  font-size: 14px;
  /* background-color: rgb(193, 195, 194); */
}

/* Available colors */

.color-container {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px 0;
  /* margin-left: 5px; */
  display: flex;
}

.color-container li {
  display: inline-block;
  width: 20px;
  height: 20px;
  list-style: none;
  margin-right: 10px;
}

.color-container li:last-child {
  margin-right: 0;
}

.black-color {
  background-color: black;
}

.blue-color {
  background-color: blue;
}

.red-color {
  background-color: red;
}

.orange-color {
  background-color: orange;
}

.green-color {
  background-color: green;
}

.brown-color {
  background-color: brown;
}

/* Floats */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
  content: "";
  display: block;
}
