body {
  font-family: sans-serif;
  margin: 0;
  position: relative;
  border-top: 5px solid #1098ad;
}

/* The inline elements occupies the space they need, block level elements occupies a complete line */
/* Inline elements can have horizontal margins but vertical not */
/* Inline block elements occupies just the space they need but the behave like block elements, they can have vertical margins to */

/* Pseudo classes are defined with one : and pseudo elements with two :: */

h1::first-letter {
  font-style: normal;
  margin-right: 20px;
}

h2::first-letter {
  font-size: 60px;
}

/* Just h3 sibling is sellected */

h3 + p::first-line {
  color: red;
}

h2::after {
  content: "TOP";
  font-size: 16px;
  background-color: yellow;
  padding: 5px 10px;
  position: absolute;
  right: -5%;
  top: -15%;
  color: black;
}

h2 {
  /* background-color: orange; */
  position: relative;
}

/* Pseudo elements */

body header h1 {
  margin-top: 0;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 15px;
  text-align: center;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 15px;
  text-align: center;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  background-color: antiquewhite;
}

li:first-child,
li:last-child {
  font-weight: bold;
}

li:nth-child(even) {
  color: red;
}

a:link {
  text-decoration: none;
  color: #1098ad;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline dotted orangered;
}

.main-header nav a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main-header nav a:last-child {
  margin-right: 0;
}

nav {
  text-align: center;
}

body button {
  color: rgb(46, 101, 184);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;

  position: absolute;
  bottom: 2%;
  right: 2%;
}
